fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings
pypdf
langchain
langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
langchain_openai
dashscope